/******** FONT ********/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}



/******** BACKGROUND ********/

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    background: linear-gradient(to top, #f2f2f2 0%, #af9370 100%);
}



/******** TITLE ********/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    font-weight: 700;
    font-size: 14px;
    margin: 15px 0 10px 0;
}

.header__subtitle {
    font-weight: 400;
    font-size: 9px;
    margin: auto;
}



/******** IMAGE ********/

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 15px 0 15px;
    background: white;
    box-shadow: 0 3px 10px black;
}

.figure__img {
    display: flex;
    justify-content: center;
    width: 66%;
    margin: 5px 0 5px 0;
}

.figure__figcaption {
    font-weight: 300;
    font-style: italic;
    font-size: 7px;
    margin: 0 0 5px 0;
}



/******** TIMELINE ********/

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    font-weight: 700;
    font-size: 12px;
    margin: 20px 0 20px 0;
}

.section__list {
    font-weight: 400;
    font-size: 10px;
    line-height: 2.5;
    padding: 0;
    list-style: circle;
}



/******** WIKI ********/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.footer__text{
    font-weight: 700;
    font-size: 9px;    
}

a {
    text-decoration: none;
}

.footer__link {
    font-weight: 700;
    font-size: 10px;
    color: #A4753D;
}

.footer__link:hover {
    cursor: pointer;
}

.footer__link:visited {
    color: #A4753D;
}



/******** RESPONSIVE TABLET ********/

@media (min-width: 768px) {
    .header__title {
        font-size: 24px;
        margin: 35px 0 15px 0;
    }

    .header__subtitle {
        font-size: 14px;
    }

    .figure {
        margin: 20px 30px 0 30px;
    }

    .figure__img {
        margin: 10px 0 10px 0;
    }

    .figure__figcaption {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .section__title {
        font-weight: 600;
        font-size: 20px;
        margin: 30px 0 20px 0;
    }

    .section__list {
        font-weight: 400;
        font-size: 14px;
    }

    .footer__text {
        font-weight: 500;
        font-size: 16px;
        margin: 40px 0 50px 0;
    }

    .footer__link {
        font-weight: 600;
        font-size: 17px;
    }
}



/******** RESPONSIVE DESKTOP ********/

@media (min-width: 1025px) {
    .header__title {
        font-size: 32px;
        margin: 40px 0 20px 0;
    }

    .header__subtitle {
        font-size: 20px;
    }

    .figure {
        margin: 25px 40px 0 40px;
    }

    .figure__img {
        margin: 12px 0 12px 0;
    }

    .figure__figcaption {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .section__title {
        font-size: 28px;
        margin: 45px 0 30px 0;
    }

    .section__list {
        font-size: 20px;
    }

    .footer__text {
        font-weight: 600;
        font-size: 22px;
        margin-top: 50px 0 60px 0;
    }

    .footer__link {
        font-weight: 700;
        font-size: 24px;
    }
}


/****** By Tijah ******/