/**** Lien Police Ecriture ****/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to top, #f2f2f2 0%, #af9370 100%);
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__titre{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.header__sous__titre{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    
}

.figure{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 0 3px 10px black;
}

.figure__lien{
    display: flex;
    justify-content: center;
}

.figure__img{
    width: 75%;
    margin-top: 10px;
    margin-bottom: 5px;
}

/**** Changement du curseur sur image ****/
.figure__img:hover{
    cursor: zoom-in;
}

.figure__legende{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 7px;
    margin-bottom: 3px;
}

.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section__titre{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section__liste{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 9px;
    line-height: 3;
    margin: auto;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer__text{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 9px;    
}

/**** Couleur du lien + changement du curseur ****/
.footer__lien{
    text-decoration: none;
    color: #A4753D;
}

.footer__lien:hover{
    cursor: pointer;
}

.footer__lien:visited{
    color: #A4753D;
}

/**** Format Desktop ****/
@media (min-width: 430px){
    .header__titre{
        font-size: 32px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .header__sous__titre{
        font-size: 18px;
    }

    .figure__legende{
        font-size: 14px;
        margin-bottom: 8px;
    }

    .section__titre{
        font-size: 28px;
        font-weight: 600;
        margin-top: 20px;
    }

    .section__liste{
        font-size: 18px;
        font-weight: 400;
    }

    .footer__text{
        font-weight: 600;
        font-size: 20px;
        margin-top: 50px;
    }
}