/**** Lien Police Ecriture ****/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');


body{
    min-height: 100vh;
    background: linear-gradient(to top, #f2f2f2 0%, #d7bea0 100%);
} 

h1{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 5px;
}

h2{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 7px;
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    box-shadow: 0 3px 10px black;
    margin-right: 5px;
    margin-left: 5px;
}

img{
    width: 75%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.legende{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 7px;
    margin-bottom: 3px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.list{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 9px;
    margin: auto;
}

footer{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 9px;
    margin-top: 80px;
}

/**** Couleur de mon lien ****/

a{
    text-decoration: none;
    color: #A4753D;
}

a:visited{
    color: #A4753D;
}


/**** Format Desktop ****/

@media (min-width: 480px){
    h1{
        font-size: 32px;
        margin-top: 35px;
        margin-bottom: 15px;
    }


    h2{
        font-size: 18px;
    }

    .legende{
        font-size: 14px;
        margin-bottom: 8px;
    }


    h3{
        font-size: 28px;
        font-weight: 500;
        margin-top: 20px;
    }

    .list{
        font-size: 18px;
        font-weight: 400;
    }

    footer{
        font-weight: 600;
        font-size: 20px;
        margin-top: 50px;
    }
}