/**** Lien Police Ecriture ****/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body{
    display: flex;
    background: white;
    justify-content: center;
    flex-direction: column;
} 

.content{
    min-height: 100vh;
    margin: 2px;
    border-radius: 3px;
    background: linear-gradient(to top, #f2f2f2 0%, #af9370 100%);
}

h1, h2, h3, footer{
    font-family: 'Inter', sans-serif;
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-weight: 800;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 5px;
}

h2{
    font-weight: 400;
    font-size: 7px;
}

figure{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 0 3px 10px black;
}

.lien__img{
    display: flex;
    justify-content: center;
}

img{
    width: 75%;
    margin-top: 10px;
    margin-bottom: 5px;
}

/**** Changement du curseur sur image ****/
img:hover{
    cursor: zoom-in;
}

.legende{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 7px;
    margin-bottom: 3px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3{
    font-weight: 800;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.list{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 9px;
    margin: auto;
}

footer{
    font-weight: 500;
    font-size: 9px;
    margin-top: 100px;
}

/**** Couleur du lien + changement du curseur ****/
.lien__wiki{
    text-decoration: none;
    color: #A4753D;
}

.lien__wiki:hover{
    cursor: pointer;
}

.lien__wiki:visited{
    color: #A4753D;
}

/**** Format Desktop ****/
@media (min-width: 480px){
    h1{
        font-size: 32px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    h2{
        font-size: 18px;
    }

    .legende{
        font-size: 14px;
        margin-bottom: 8px;
    }

    h3{
        font-size: 28px;
        font-weight: 500;
        margin-top: 20px;
    }

    .list{
        font-size: 18px;
        font-weight: 400;
    }

    footer{
        font-weight: 600;
        font-size: 20px;
        margin-top: 50px;
    }
}